.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.container:hover {
    transform: scale(1.05);
}

.icon {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.text {
    font-size: 20px;
    text-align: center;
    color: #333;
}

.button {
    color:azure ;
}